# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def add_two(x):
    return x + 2


add_two(5)

7

In [4]:
add_two

In [9]:
lambda x: x + 2

In [8]:
(lambda x: x + 2)(3)

5

#### Saving to a Variable

In [10]:
f_test = lambda x: x * 5


f_test

In [11]:
f_test(4)

20

#### Multiple Inputs

In [14]:
def add_all(x, y, z):
    return x + y + z


(lambda x, y, z: x + y + z)(3, 4, 5)

12

#### Passing a Lambda into a Function

In [15]:
def apply_func(f, name):
    return f(name)


def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

In [16]:
apply_func(lambda string: string[-1], 'codingtemple')

'e'

#### Returning a Lambda from a Function

In [17]:
# Regular defined function
def create_multiplier(num):
    def inner_func(x):
        return num * x
    return inner_func


five = create_multiplier(5)

five

In [25]:
five(4)

20

In [24]:
ten = create_multiplier(10)

ten(4)

40

In [27]:
def new_multiplier(num):
    return lambda x: num * x

three = new_multiplier(3)

three(3)

9

In [28]:
four = new_multiplier(4)

four(8)

32

#### If Statements within Lambdas

In [32]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(9)

11

In [34]:
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(10)

12

In [36]:
# lambda input(s): <value to return if True> if <condition> else <value to return if false>

(lambda num: num * 2 if num > 10 else num + 2)(11)

22

In [40]:
(lambda x: x if x > 100 else x/2 if x > 50 else x * 5 if x > 20 else 0)(16)

0

In [ ]:
def something(x):
    if x > 100:
        return x
    elif x > 50:
        return x/2
    elif x > 20:
        return x * 5
    else:
        return 0

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [45]:
# Immediately Invoked
(lambda x: x ** 3)(10)

1000

In [46]:
# Saved to variable f
f = lambda x: x ** 3

f

In [42]:
f(10)

1000

In [43]:
f(5)

125

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [47]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [49]:
def squared_minus_two(a):
    return a**2 - 2


numbers = [2, 3, 6, 6, 23, 7 ,23, 6, 64]

new_nums = []
for num in numbers:
    new_num = squared_minus_two(num)
    new_nums.append(new_num)
new_nums

[2, 7, 34, 34, 527, 47, 527, 34, 4094]

In [52]:
# map(function, iterable -> List, Tuple, String, Set, etc.)

list(map(squared_minus_two, numbers))

[2, 7, 34, 34, 527, 47, 527, 34, 4094]

In [57]:
def test(*iterables):
    print(iterables)
    
test([1,2,3], [1, 2, 3], [35345])

([1, 2, 3], [1, 2, 3], [35345])

In [62]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
more_nums = [9, 8, 7, 6, 5, 4]

def some_func(x, y):
    print(f"X={x},Y={y}")
    return x * y

list(map(some_func, nums, more_nums))

X=1,Y=9
X=2,Y=8
X=3,Y=7
X=4,Y=6
X=5,Y=5
X=6,Y=4

[9, 16, 21, 24, 25, 24]

#### Using Lambda's with Map

In [63]:
numbers = [2, 3, 6, 6, 23, 7 ,23, 6, 64]
list(map(lambda num: num**2 -2, numbers))

[2, 7, 34, 34, 527, 47, 527, 34, 4094]

In [64]:
list(map(lambda x, y: x*y, nums, more_nums))

[9, 16, 21, 24, 25, 24]

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number if it is even and halve it if it is odd</p>

In [71]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# [0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

list(map(lambda num: 2 * num if num % 2 == 0 else num / 2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [72]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [76]:
names = ['Bob', 'Andy', 'Max', 'Evan', 'Amy', 'Allison']

def starts_with_a(name):
    return name[0].upper() == 'A'
#         return True
#     else:
#         return False
    
    
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, True, False, False, True, True]

In [77]:
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['Andy', 'Amy', 'Allison']

#### Using Lambda's with Filter()

In [78]:
list(filter(lambda name: name[0].upper() == 'A', names))

['Andy', 'Amy', 'Allison']

In [83]:
def remainder(num):
    return num % 3


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(map(remainder, my_list))

[1, 2, 0, 1, 2, 0, 1, 2, 0]

In [84]:
list(filter(remainder, my_list))

[1, 2, 4, 5, 7, 8]

In [87]:
bool(0)

False

In [88]:
def empty_or_full_list(x):
    if x > 10:
        return [1, 2, 3]
    else:
        return []
    
    
list(filter(empty_or_full_list, [0, 5, 10, 15, 20]))

[15, 20]

In [90]:
bool([1, 2, 3])

True

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [101]:
import random

nums = [random.randint(1,100) for _ in range (20)]

print(nums)

[3, 76, 40, 28, 42, 41, 15, 98, 40, 8, 51, 41, 33, 71, 18, 50, 65, 86, 19, 70]

In [102]:
from statistics import mean


mean(nums)

44.75

In [105]:
nums = [55, 57, 55, 88, 88, 20, 86, 38, 99, 61, 12, 37, 31, 4, 92, 20, 47, 64, 38, 35]

list(filter(lambda x: x > mean(nums), nums))
# [55, 57, 55, 88, 88, 86, 99, 61, 92, 64]

[55, 57, 55, 88, 88, 86, 99, 61, 92, 64]

In [107]:
def filter_out_below_mean(nums):
    avg = mean(nums)
    return list(filter(lambda x: x>avg, nums))


filter_out_below_mean([10, 20, 35, 6, 23, 3])

[20, 35, 23]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [1]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [2]:
list_1 = [2, 4, 6, 8, 10]

def add_nums(num1, num2):
    print('==============')
    print(f"num1: {num1}")
    print(f"num2: {num2}")
    return num1 + num2


result_add = reduce(add_nums, list_1)
print(result_add)

==============
num1: 2
num2: 4
==============
num1: 6
num2: 6
==============
num1: 12
num2: 8
==============
num1: 20
num2: 10
30

In [3]:
total = 0
for num in list_1:
    total += num
print(total)

30

#### Using Lambda's with Reduce()

In [4]:
result_lamb = reduce(lambda num1, num2: num1 + num2, list_1)
result_lamb

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [5]:
list_1 = [2, 4, 6, 8, 10]

reduce(lambda num1, num2: num1 * num2, list_1)

# 3840

3840

In [6]:
prod = 1
for num in list_1:
    prod *= num
prod

3840

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [8]:
import time


def full_name(first, last):
    time.sleep(5)
    return first + ' ' + last


def greet_person(first, last, day_of_week):
    print('Hello')
    person_full_name = full_name(first, last)
    print('Goodbye')
    print(f"Hello {person_full_name}, is sure is beautiful on this {day_of_week.title()}!")
    
    
greet_person('Brian', 'Stanton', 'tuesday')

Hello
Goodbye
Hello Brian Stanton, is sure is beautiful on this Tuesday!

#### Implementing a Base Case

In [9]:
def add_nums(num):
    # Set up the base case
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else:
        print(f"add_nums({num}) = {num} + add_nums({num-1})")
        return num + add_nums(num-1)
    
add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [10]:
# 5! = 5 * 4!
# 4! = 4 * 3!
# ...
# 1! = 1

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
    
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [11]:
def sub_nums(num):
    # Set up the base case
    if num <= 1:
        print(f"sub_nums({num}) = {num}")
        return num
    else:
        print(f"sub_nums({num}) = {num} - sub_nums({num-1})")
        return num - sub_nums(num-1)
    
sub_nums(10)

sub_nums(10) = 10 - sub_nums(9)
sub_nums(9) = 9 - sub_nums(8)
sub_nums(8) = 8 - sub_nums(7)
sub_nums(7) = 7 - sub_nums(6)
sub_nums(6) = 6 - sub_nums(5)
sub_nums(5) = 5 - sub_nums(4)
sub_nums(4) = 4 - sub_nums(3)
sub_nums(3) = 3 - sub_nums(2)
sub_nums(2) = 2 - sub_nums(1)
sub_nums(1) = 1

5

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [12]:
a = map(len, ['Brian', 'Stanton', 'Coding Temple'])
print(a)

<map object at 0x0000020A11EE1940>

In [13]:
a[1]

TypeError: 'map' object is not subscriptable

In [14]:
for i in a:
    print(i)

5
7
13

In [15]:
for i in a:
    print(i)

In [16]:
b = list(map(len, ['Brian', 'Stanton', 'Coding Temple']))
print(b)

print(b[1])

for i in b:
    print(i)
    
for i in b:
    print(i)

[5, 7, 13]
7
5
7
13
5
7
13

In [28]:
new_map = map(len, ['abc', 'abcd', 'abcde'])
help(new_map)

Help on map object:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [49]:
new_map.__next__()

StopIteration:

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [58]:
def my_range(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
        
# for x in my_range(0, 10):
#     print(x)

my_range(0,10)

0

In [59]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
        
# for x in my_range(0, 10):
#     print(x)

my_range(0,10)

In [61]:
for x in my_range(0, 1):
    print(x**2)

0
1
4
9
16
25
36
49
64
81

In [50]:
range(1000000)

range(0, 1000000)

In [107]:
ten_step = my_range(10, 100, 10)

ten_step

In [105]:
ten_step.__next__()

StopIteration:

In [106]:
for num in ten_step:
    print(num)

In [117]:
next(ten_step)

StopIteration:

In [119]:
generator1 = my_range(0, 20, 2)

my_list = list(generator1)
my_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, continue to yield until zero is reached.</p>

In [ ]:
def squared_gen():
    pass



for x in squared_gen(10):
    print(x)

In [122]:
def csv_reader(file_name):
    with open(file_name) as file:
        result = file.read().split("\n")
    return result


csv_gen = csv_reader('../day1/names.txt')
print(csv_gen)
row_count = 0

for row in csv_gen:
    row_count += 1

print(f"Row count is {row_count}")

['Hawkins, Derek\tderek@codingtemple.com\t(555) 555-5555\tTeacher, Coding Temple\t@derekhawkins', 'Stanton, Brian\tbrians@codingtemple.com\t(555) 555-5554\tTeacher, Coding Temple', 'Johnson, Joe\tjoejohnson@codingtemple.com\t\tJohson, Joe', 'Osterberg, Sven-Erik\tgovernor@norrbotten.co.se\t\tGovernor, Norrbotten\t@sverik', ', Tim\ttim@killerrabbit.com\t\tEnchanter, Killer Rabbit Cave', 'Butz, Ryan\tryanb@codingtemple.com\t(555) 555-5543\tCEO, Coding Temple\t@ryanbutz', 'Doctor, The\tdoctor+companion@tardis.co.uk\t\tTime Lord, Gallifrey', 'Exampleson, Example\tme@example.com\t555-555-5552\tExample, Example Co.\t@example', 'Pael, Ripal\tripalp@codingtemple.com\t(555) 555-5553\tTeacher, Coding Temple\t@ripalp', 'Vader, Darth\tdarth-vader@empire.gov\t(555) 555-4444\tSith Lord, Galactic Empire\t@darthvader', 'Fernandez de la Vega Sanz, Maria Teresa\tmtfvs@spain.gov\t\tFirst Deputy Prime Minister, Spanish Gov']
Row count is 11

In [147]:
def infinite_sequence():
    num = 0
    while True:
        yield num
        num += 1
        
        
my_inf_gen = infinite_sequence()

my_inf_gen

In [148]:
next(my_inf_gen)

0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [ ]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [ ]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]
`

In [ ]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5`

In [152]:
def fib(num):
    pass

for x in range(6):
    print(f"Iteration {x}: {fib(x)}")

Iteration 0: None
Iteration 1: None
Iteration 2: None
Iteration 3: None
Iteration 4: None
Iteration 5: None